/* Overwriting document when the user is on mobile */
/* For screen size smaller than 1024 pixels */
@media screen and (max-width: 1023px){
    /* General overwrites */
    #circle {
        z-index:2;
        top: 85%;
    }

    #frame_1 p, #frame_2 p, #frame_4 p {
        font-size: 20px;
    }

    /* Overwriting frame 2 */
    #frame_2 {
        position: relative;
        padding: 0;
        padding-left: 5%;
        padding-top: calc(min(150px, 8vh));
        text-align: center;
    }
    
    #frame_2 #self_image img {
        position: relative;
        left:0;
        top:0;
    }

    #frame_2_description {
        max-width: 90%;
        width: 100%;
    }

    #frame_2_links {
        left:0;
        top:0;
        width: calc(80vw - 170px);
        position: relative;
    }

    #frame_2_links a {
        font-size: 12px;
    }

    /* Overwriting frame 3 */
    .title_wrapper {
        background-color: white;
        z-index:2;
    }

    #frame_3 #frame_3_title h1 {
        font-size:40px
    }

    #frame_3_normal {
        overflow: auto;
        height:85vh;
        padding-top: 20vh;
    }

    .frame_3_project {
        padding-bottom: 15vh;
    }

    .frame_3_project #title_wrapper {
        background-color: white;
    }

    .frame_3_project #title_wrapper #project_title h1 {
        font-size: 35px;
    }

    .rich_project_display {
        display:inline;
    }


    /* Overwriting frame 4 */
    #frame_4 {
        position: relative;
        padding: 0;
        padding-left: 5%;
        padding-top: calc(min(150px, 8vh));
        text-align: center;
    }

    #frame_4_content {
        margin: 0;
        padding: 0;
    }

    #frame_4 h1 {
        float: none;
        text-align: center;
    }
    
    #frame_4 p {
        float: none;
        max-width: 90%;
        width: 100%;
    }
    
    #frame_4 #life_image img {
        position: relative;
        top:0;
        text-align: center;
        margin: auto;
        left: calc(50% - 85px);
    }
}